#frame
  #filename.padding
    | &nbsp;
  div#base
    img#image
  #frame1.padding
    #time
      | &nbsp;
    .space
    #temp
      | &nbsp;
    .space
    #humidity
      | &nbsp;
    .space
    #pressure
      | &nbsp;

script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"

javascript:
  var images = [
    "../wait.svg",  // リストをGetするまでの待ち画像
  ]
  var count = 0
  var length = images.length
  var next_image = function() {
    const background = document.querySelector('#base')
    background.style.setProperty('--b-img', "url(images/" + images[count] + ")")
    const image = document.querySelector('img#image')
    image.src = "images/" + images[count]
    if ( length === 1 ) { return }
    document.getElementById('filename').innerHTML = decodeURIComponent(images[count])
    count += 1
    if ( count >= length ) {
      count = 0
      get_list()
    }
  }
  var get_list = function(first = false) {
    const request = new XMLHttpRequest();
    request.open("GET", "list");
    request.addEventListener("load", (event) => {
      if ( event.target.status != 200 ) { return }
      console.log('load');
      images = JSON.parse(event.target.responseText)['files']
      length = images.length
      if (first) {
        next_image();
      }
    });
    request.send();
  }
  var show_temp = function() {
    const request = new XMLHttpRequest()
    request.open("GET", "cgi-bin/temp.cgi")
    request.addEventListener("load", (event) => {
      if ( event.target.status != 200 ) {
        document.getElementById('temp').innerHTML = '--.- ℃'
        document.getElementById('humidity').innerHTML = '--.- %'
        document.getElementById('pressure').innerHTML = '----.- hPa'
        return
      }
      json = JSON.parse(event.target.responseText)
      document.getElementById('temp').innerHTML = json['temp'].slice(0, -1) + ' ℃'
      document.getElementById('humidity').innerHTML = json['humidity'].slice(0, -1) + ' %'
      document.getElementById('pressure').innerHTML = json['pressure'].slice(0, -1) + ' hPa'
    })
    request.send()
  }
  var show_time = function() {
    var now = moment(new Date()).format("YYYY/MM/DD HH:mm:ss")
    document.getElementById('time').innerHTML = now
  }

  next_image();
  get_list(true);
  show_time();
  show_temp();
  setInterval(next_image, 60 * 1000);
  setInterval(show_time, 1000);
  setInterval(show_temp, 60 * 1000);

css:
  @font-face {
    font-family: "CP_Revenge";
    src: url(fonts/CP_Revenge.ttf) format("truetype");
  }

  * {
    margin: 0;
    padding: 0;
  }
  html, body {
    /* width: 100vw; */
    /* height: 100vh; */
    width: 100dvw;
    height: 100dvh;
  }
  body {
    display: flex;
    font-family: "CP_Revenge", sans-serif;
    color: darkslategray;
    text-shadow:   2px  0px 0 white,
                   2px  2px 0 white,
                   0px  2px 0 white,
                  -2px  2px 0 white,
                  -2px  0px 0 white,
                  -2px -2px 0 white,
                   0px -2px 0 white,
                   2px -2px 0 white;
  }
  
  #frame {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .padding {
    padding: 4px;
  }
  #filename {
    font-size: 2.8vw;
    background-color: rgba(0,128,255,0.5);
    word-break: break-all;
  }
  #base {
    flex-grow: 1;
    position: relative;
    --b-img:url();
  }
  #base::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: .2;
    background-image: var(--b-img);
  }
  img#image {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
  #frame1 {
    display: flex;
    justify-content: center;
    font-size: 2.8vw;
    background-color: rgba(0,128,255,0.5);
  }
  .space {
    width: 2vw;
  }
  #time {
    text-align: center;
  }
  #frame2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #temp {
    text-align: center;
  }
  #humidity {
    text-align: center;
  }
  #pressure {
    text-align: center;
  }
