doctype html
html lang="ja"
  head
    title
      | Javelin signage
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_importmap_tags
    /= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true
    /= javascript_pack_tag 'application'
    /= stylesheet_pack_tag 'application'
    / link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet"

  body
    = yield
